


    <div class="row">
       <div class="col twelve"></div>
    </div>

    <div class="row">
       <div class="col eleven"></div>
       <div class="col one"></div>
    </div>

    <div class="row">
       <div class="col three"></div>
       <div class="col three"></div>
       <div class="col three"></div>
       <div class="col three"></div>
       <div class="col bit"></div>
    </div>

    <div class="row">
       <div class="col six"></div>
       <div class="col three"></div>
       <div class="col three"></div>
    </div>
